<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2012-2018
        <a href="https://www.wavii.com.br"> Wavii. </a>
    </strong> Todos os direitos reservados.
</footer>

<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
       
        <li>
            <a href="#control-sidebar-settings-tab" data-toggle="tab">
                <i class="fa fa-gears"></i>
            </a>
        </li>
    </ul>
    
</aside>
<div class="modal fade" #modalAguarde id="modalAguarde">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;width: 185%; margin-left: 190px; margin-top: 180px !important; bottom: auto; right: auto; left: auto; display: block; z-index: 1;">      
            <div class="col-md-3">
                <div class="box box-danger box-solid">
                <div class="box-header">
                    <h3 class="box-title">Aguarde...</h3>
                </div>
                <div class="box-body">
                    A requisição está sendo finalizada.
                </div>
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                </div>
            </div>          
        </div>
    </div>
</div>