<!DOCTYPE html>
<html>

<head>
    <% include /templates/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <% include /templates/header %>
        
        
        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        
        <div class="content-wrapper">
            <!-- escrever conteúdo do sistema -->
        </div>

        <!-- /.content-wrapper -->
        <% include /templates/footer %>        
        
        
        <div class="control-sidebar-bg"></div>
    </div>
</body>
<% include /templates/scripts %>
</html>